/* CSS Mega Sena*/
#inputgeneratedMega{
    border-color: #209869;
}
#btn_generatedMega{
    background: transparent;
    border: 1px solid #45c0ae;
    border-radius: 3px;
    color: #4c546d;
    font-size: 1em;
    width: 30%;
 
}
#btn_generatedMega:hover{
    background-color: #45c0ae;
    border: 1px solid #45c0ae;
    color: #fff;
    font-weight: bold;
}
/* CSS Quina*/
#inputgeneratedQuina{
    border-color: #260085;
}
#btn_generatedQuina{
    background: transparent;
    border: 1px solid #260085;
    border-radius: 3px;
    color: #4c546d;
    font-size: 1em;
    width: 30%;
}
#btn_generatedQuina:hover{
    background-color: #462a8b;
    border: 1px solid #462a8b;
    color: #fff;
    font-weight: bold;
}
/* CSS Lotomania*/
#inputgeneratedLotomania{
    width: 65%;
    border-color: #f79c31;
}
#btn_generatedLotomania{
    background: transparent;
    border: 1px solid #f78100;
    border-radius: 3px;
    color: #4c546d;
    font-size: 1em;
    width: 29%;
}
#btn_generatedLotomania:hover{
    background-color: #f78100;
    border: 1px solid #f78100;
    color: #fff;
    font-weight: bold;
}
/* CSS Lotofácil*/
#inputgeneratedLotoFacil{
    width: 65%;
    border-color: #930089;
}
#btn_generatedLotoFacil{
    background: transparent;
    border: 1px solid #b10da6;
    border-radius: 3px;
    color: #4c546d;
    font-size: 1em;
    width: 29%;
}
#btn_generatedLotoFacil:hover{
    background-color: #b10da6;
    border: 1px solid #b10da6;
    color: #fff;
    font-weight: bold;
}
/* Footer bets */
.footerBets a{
    text-decoration: none;
    font-weight: bold;
    color: #45c0ae;
}
.footerBets  a:hover{
    font-weight: bold;
    color: #45c0ae;
    text-decoration: underline;
}